%image-container-padding {
	padding-top: 300px;
	text-align: center;
	background: white;
	position: relative;
	height: 0;
}

%image-padding {
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

%image-units {
	width: 100vw;
	max-width: 30vw;
}

.example {
	&-padding {
		.image-container {
            @extend %image-container-padding;

			transform-origin: center center;
			background: url('../img/landscape.jpg');
			background-position: center center;
			background-size: cover;

			.inside {
				@extend %image-padding;
			}
		}

		.image-container,
		.text-container {
			float: left;
		}
	}

	&-padding-img {
		.image-container {
				@extend %image-container-padding;
			
			img {
				@extend %image-padding;
			}
		}
	}

	&-viewport-units-img {
		.image-container {
			img {
				@extend %image-units;

				height: calc(100vw * (9/16));
				max-height: calc(30vw * (9/16));

					@media (max-width: 490px) {
						max-width: 100vh;
						max-height: calc(100vw * (9/16));
					}
			}
		}

		.text-container {
			padding: 0 20px;
			box-sizing: border-box;
		}
	}

	&-height-auto-img {
		.image-container {
			
			img {
				@extend %image-units;

				height: auto;

				@media (max-width: 490px) {
					max-width: 100vh;
				}
			}
		}

		.text-container {
			padding: 0 20px;
			box-sizing: border-box;
		}
	}
}

.section-wrapper {
	height: 300px;
	overflow: hidden;

		&::after {
		content: '';
		clear: both;
		display: block;
	}
}

.image-container {
	width: 30%;
}

.text-container {
	width: 70%;
}

.image-container,
.text-container {
	float: left;
}

.image-container,
.text-container {
	@media (max-width: 490px) {
		width: 100%;
		float: none;
	}
}
